@{
    ViewData["Title"] = "Home Page and its Static!";
}

<div class="text-center">
    <h1 class="display-4">MAYBE IF</h1>
    <p>Get email and text notifications for all your gaming watchlists!</p>
</div>
